{% extends "base.html" %}
{% block title %} Edit Invoice {% endblock %}
{% block content %}
<body style="background-image: url('{{ url_for('static', filename='invoicebackground.jpg') }}');">
<br/>
<h3 class = "nav-item" >Edit Invoice</h3>

  <form method="POST" action="{{ url_for('editinvoice', invoice_id=invoice[0]) }}">

    <div class="form-group d-flex flex-column">

      <label for="customername">Customer name:</label>
      <input class="form-control rounded-pill" type="text" id="customername" name="customername" value="{{ invoice[1] }}" required>

      <label for="customeraddress">Address:</label>
      <input class="form-control rounded-pill" type="text" id="customeraddress" name="customeraddress" value="{{ invoice[2] }}" required>

      <label for="date">Date:</label>
      <input class="form-control rounded-pill" type="date" id="date" name="date" value="{{ invoice[3] }}" required>
    
      <label for="desp">Description:</label>
      <input class="form-control rounded-pill" type="text" id="desp" name="desp" value="{{ invoice[4] }}" required>

      <label for="invoiceno">Invoice no:</label>
      <input class="form-control rounded-pill" type="number" id="invoiceno" name="invoiceno" value="{{ invoice[5] }}" required>

      <label for="invoicetotal">Invoice Total:</label>
      <input class="form-control rounded-pill" type="number" id="invoicetotal" name="invoicetotal" value="{{ invoice[6] }}" required>

      <button class="btn btn-primary mt-3" type="submit">Update Invoice</button>


    </div>

  </form>
</body>
{% endblock %}